# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Floating-Down-the-Life2.0.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Rider_Project\Floating-Down-the-Life2.0\.idea\.idea.Floating-Down-the-Life2.0.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
